<div class="page-wrap about">

	<h1>ABOUT ME</h1>

	<div class="col-left">
		<p>As you know now, my name is Martin. I was born in the year of 1978 in a small town called Taastrup. From an early age I had a deep love for connecting wires and metal components with the sole purpose of powering up the shit and make it work. I kind of feel the same way about coding. To write beautiful code that works, makes me happy. If it doesn’t, it makes me angry.</p>
 		
	</div>
	<div class="col-right">
		<p>I’m now a grown man with family, mortgage and responsibilities. However, when the sun is down and the kids put to bed, I’m sliding in to my crib (the corner of the bedroom behind the closet), powering up my computer, the 3 monitors and start coding. But of course only if I’m not found in front of the PS4 shouting at some korean teenagers in the headset.</p>
			
	</div>
 
</div>
 

 


<!-- <a ui-sref=".list">Show List</a>
<div ui-view></div> -->