<div class="page-wrap tech">
	<h1>TECH</h1>

	<div class="col-left">
		 <ul class="bigUppedText">
	    	<em>EXPERIENCED</em>
			<li>HTML5</li>
			<li>CSS3</li>
			<li>JAVASCRIPT</li>
			<li>JQUERY</li>
			<li>LESS/SASS</li>
			<li>WORDPRESS</li>
			<li>PHP</li>
			<li>ANGULAR.JS</li>
			<li>BOOTSTRAP</li>
			<li>MYSQL</li>
			<li>AJAX</li>
		</ul>
	</div>

	<div class="col-right">
		 
 		 <ul class="bigUppedText">
 		 	<em>SOME EXPERIENCE</em>
 		 	<li>GIT</li>
 		    <li>JSON</li>
 		    <li>LARAVEL</li>
 		 </ul>
		 	 
	</div>
</div>

 

 


<!-- <a ui-sref=".list">Show List</a>
<div ui-view></div> -->