<footer></footer>
<script src="https://code.angularjs.org/1.5.5/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.5/angular-sanitize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
<script src="https://code.angularjs.org/1.5.5/angular-animate.js"></script>

<script src="/js/angular-bootstrap.js"></script>
<script src="/js/angular-scripts.js"></script>
<script src="/js/controller/siteController.js"></script>
<script src="/js/app.js"></script>