<header>

  <nav class="site-nav">
 
    <i class="burger" ng-click="navToggle()">{% include icon-burger.svg %}</i>
    
  
    
    <ul class="" ng-show="navState">
      <li><a ui-sref="hello">HELLO</a></li>
      <li><a ui-sref="projects">PROJECTS</a></li>
      <li><a ui-sref="tech">TECHNOLOGIES</a></li>
      <li><a ui-sref="about">ABOUT</a></li>
    
    
      <!-- <img src="{{ site.url }}/assets/screenshot.jpg"> -->
      <hr>
        <li><a href="mailto:mjatzbox@gmail.com"><small>mjatzbox@gmail.com</small></a></li>
        <li><a href="tel:50477866"><small>50 477 866</small></a></li>
 
    </ul>
  </nav>


</header>
